*.md linguist-documentation
*.json linguist-generated
*.png linguist-generated
*.jpg linguist-generated
packages/** linguist-vendored
lib/** linguist-vendored
Lib/** linguist-vendored
Bin/** linguist-vendored
bin/** linguist-vendored
Obj/** linguist-vendored
obj/** linguist-vendored
**/*.dll linguist-vendored
